*, *::before, *::after {
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  margin: 0;
  background: #fff;
  color: #333;
  font: 16px/24px -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif; }

h1 {
  margin: 32px 0 16px;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px; }

h2 {
  margin: 32px 0 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px; }

h3 {
  margin: 24px 0 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px; }

h4 {
  margin: 24px 0 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px; }

h5 {
  margin: 24px 0 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #777; }

h6 {
  margin: 24px 0 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #aaaaaa; }

p {
  margin: 0 0 16px; }

ul, ol {
  margin: 0 0 16px;
  padding: 0 0 0 32px; }

blockquote {
  margin: 0 0 16px;
  border-left: 4px solid #e5e5e5;
  padding: 0 16px;
  color: #858585; }

img {
  max-width: 100%; }

a {
  color: #4183c4;
  text-decoration: none; }
  a:hover, a:focus {
    outline: 0;
    text-decoration: underline; }

table {
  width: 100%;
  overflow: auto;
  margin: 0 0 12px;
  border-collapse: collapse;
  border-spacing: 0;
  background: #fff; }

tr:nth-child(2n) {
  background-color: #fbfbfb; }

th, td {
  border: 1px solid #ddd;
  padding: 7px 11px; }

pre {
  overflow: auto;
  margin: 0 0 16px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: calc(12px - 1px) calc(16px - 1px);
  background: #f9f9f9;
  font-size: inherit;
  line-height: inherit;
  font-family: Menlo, Consolas, "Liberation Mono", Courier, monospace; }

code {
  font-size: 16px;
  line-height: 16px;
  font-family: Menlo, Consolas, "Liberation Mono", Courier, monospace; }

p > code, li > code {
  padding: 0.125em;
  background: #f9f9f9; }
  p > code::before, p > code::after, li > code::before, li > code::after {
    letter-spacing: -0.25em;
    content: "\00a0"; }

pre code {
  padding: 0;
  white-space: pre; }

body > .wrapper {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 1024px) {
    body > .wrapper {
      flex-direction: row; } }

header {
  display: flex;
  padding: 8px;
  background: #333;
  color: #999;
  font-size: 14px;
  line-height: inherit; }

header p {
  margin: 0;
  padding: 0 8px; }

header p.primary {
  flex: 1; }

header a[href] {
  color: #fff; }

nav {
  order: 2; }
  @media only screen and (min-width: 1024px) {
    nav {
      order: 1;
      flex: 0 0 25%;
      max-width: 239px;
      overflow: hidden;
      border-right: 1px solid #ddd;
      padding-bottom: 32px;
      background: #fbfbfb;
      word-wrap: normal; } }
  nav > ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: inherit;
    list-style: none; }
    nav > ul > li {
      margin: 8px 0;
      border-bottom: 1px solid #ddd;
      padding: 8px 0 7px 16px; }
      nav > ul > li:last-child {
        margin-bottom: 0; }
      nav > ul > li > p {
        margin: 0; }
        nav > ul > li > p > a[href] {
          color: #333; }
      nav > ul > li > ul {
        margin: 8px 0;
        padding-left: 16px;
        list-style: inherit; }
        nav > ul > li > ul > li {
          white-space: nowrap; }
          nav > ul > li > ul > li > a[href] {
            color: #808080; }

/*
@keyframes appear {
  0%   { opacity: 0 }
  100% { opacity: 1 }
}
*/
article {
  order: 1;
  border-bottom: 1px solid #ddd;
  padding-bottom: 31px; }
  @media only screen and (min-width: 1024px) {
    article {
      order: 2;
      flex: 1 1 auto;
      border-bottom: none;
      padding-bottom: 32px; } }
  article > section {
    padding: 0 32px; }
    article > section:last-child {
      border-bottom: none; }
    article > section > .wrapper {
      max-width: 720px;
      margin: 0 auto; }

.declaration .highlight {
  overflow-x: initial;
  margin: 0;
  border: none;
  padding: 8px 0;
  background-color: transparent; }

.toc {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fbfbfb; }
  .toc details {
    max-width: 720px;
    margin: 0 auto;
    padding: 15px 0; }
    .toc details[open] > summary {
      margin-bottom: 8px;
      /*
      & ~ * {
        animation: appear .2s ease-in-out;
      }
      */ }
      .toc details[open] > summary::after {
        content: ' \2212'; }
    .toc details > summary {
      display: block;
      margin: 0;
      padding-bottom: 0;
      color: #666666;
      font-size: 12px;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      -webkit-tap-highlight-color: transparent;
      outline: none; }
      .toc details > summary::-webkit-details-marker {
        display: none; }
      .toc details > summary::after {
        content: ' +'; }
    .toc details > .wrapper {
      columns: 1; }
      @media only screen and (min-width: 1024px) {
        .toc details > .wrapper {
          columns: 2;
          column-gap: 16px; } }
      .toc details > .wrapper p {
        margin: 0;
        color: #333;
        font-weight: 600;
        break-after: avoid-column;
        -webkit-column-break-after: avoid; }
        .toc details > .wrapper p a[href] {
          color: inherit; }
      .toc details > .wrapper ul {
        margin: 0;
        padding-left: 0;
        color: #b3b3b3;
        list-style: square inside; }
        .toc details > .wrapper ul a[href] {
          color: #808080; }

.group {
  border-bottom: 1px solid #ddd;
  padding-top: 0; }
  .group:last-child {
    border-bottom: none; }
    .group:last-child > ul > li:last-child {
      padding-bottom: 16px; }
  .group a[name]::before {
    content: "";
    display: block; }
  .group > ul {
    margin: 0;
    padding: 0; }
    .group > ul > li {
      width: 100%;
      border-bottom: 1px solid #ddd;
      padding: 0 0 15px;
      list-style: none; }
      .group > ul > li:last-child {
        border-bottom: none; }
      .group > ul > li .declaration-note {
        color: #808080;
        font-weight: normal;
        font-size: 16px; }

.aside, .language {
  overflow-y: hidden;
  margin: 16px 0;
  border-left: 4px solid #dddddd;
  padding: 8px 12px; }
  .aside .aside-title, .language .aside-title {
    margin: 0;
    padding-bottom: 0;
    color: #aaa;
    font-size: 12px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none; }
  .aside p:last-child, .language p:last-child {
    margin-bottom: 0; }

.language {
  border-left: 4px solid #cde9f4; }
  .language .aside-title {
    color: #4183c4; }

.aside-warning {
  border-left: 4px solid #ff6666; }
  .aside-warning .aside-title {
    color: #f00; }

footer {
  padding: 16px;
  background: #444;
  color: #ddd;
  font-size: 14px;
  line-height: inherit; }
  footer p {
    margin: 0; }
  footer a[href] {
    color: #fff; }

html.dash header, html.dash nav {
  display: none; }
